.hidden {
	display: none;
}
.no-wrap{
	white-space: nowrap;
}

.inline-block{
	display: inline-block;
	vertical-align: middle;
}
.line-justify{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.flexCenterBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 30px;
}
.flexCenter{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.flexCenter-h {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.flexBaseline{
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}
.no-flex-wrap {
	flex-wrap: nowrap;
}
.flex-wrap {
	flex-wrap: wrap;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.mt-auto {
  margin-top: auto;
}
.v-top{
	vertical-align: top;
}
.v-middle{
	vertical-align: middle;
}
.v-bottom{
	vertical-align: bottom;
}
.v-baseline{
	vertical-align: baseline;
}
.block{
	display: block;
}
.inline{
	display: inline;
}
.block-center {
	margin: 0 auto;
}
.wrap-text {
	white-space: normal;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-mid {
	font-weight: 500;
}
.text-bold {
	font-weight: 600;
}
.text--thin {
  font-weight: 300;
}
@each $key, $val in $breakpoints-map {
	@include media($key) {
		.text-right-#{$key} {
			text-align: right;
		}
		.text-center-#{$key}{
			text-align: center;
		}
		.text-left-#{$key}{
			text-align: left;
		}
	}
}

@keyframes Gradient {
	0% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}
.text-loader-white {
	background-image: linear-gradient(-45deg, #fff 45%, rgba(#fff, .3) 55%, #fff 65%);
	background-size: 500%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: Gradient 4s ease infinite;
	animation-direction: normal;
}
.text-upper {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.pointer{
	cursor: pointer;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
.rotate {
  transform-origin: center;
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
