$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-gilroy: 'Gilroy', sans-serif;
$font-size: 18px;
$line-height: 1.6;
$columns: 10;
$border-radius: 5px;

$color-brand: #C98484;
$color-light:#F6F6F6;
$color-text: #4F3737;
$color-minor: #7A6D6D;


