.btn {
  @include btnClear;
  min-height: 45px;
  padding: 10px 40px;
  background-color: $color-brand;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
  transition: background-color .2s ease;
  white-space: nowrap;

  &:hover {
    background-color: $color-text;
  }
}
a.btn {
  min-height: unset;
  padding: 9px 40px 7px;
}
